# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Notebooks
.ipynb_checkpoints
*.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Données brutes
/data/raw/*
!/data/raw/README.md

# Fichiers temporaires
*.log
*.bak
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Fichier de détection en temps réel
dashboard/detection_realtime.json

# Modèles temporaires
*.tmp
